[user]
	name = 4539453
	email = 4539453@gmail.com
	signingkey = sign
[init]
	defaultBranch = main
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
