xsetroot -cursor_name left_ptr &
setxkbmap -layout us,ru  -option grp:caps_toggle,compose:ralt && sxhkd &
layout-auto &
dunst -conf $HOME/.config/dunst/dunstrc &
cbatticon &
copyq &
# xflux -l 55.79 -g 37.71 &

